[project]
	description = scripts
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Omri (hoomri)
[access "refs/for/refs/*"]
	read = group user/Omri (hoomri)
	push = group user/Omri (hoomri)
	label-Code-Review = -2..+2 group user/Omri (hoomri)
	label-Verified = -1..+1 group user/Omri (hoomri)
	rebase = group user/Omri (hoomri)
	removeReviewer = group user/Omri (hoomri)
	submit = group user/Omri (hoomri)
[access "refs/heads/*"]
	read = group user/Omri (hoomri)
	create = group user/Omri (hoomri)
	push = +force group user/Omri (hoomri)
	pushMerge = group user/Omri (hoomri)
[access "refs/tags/*"]
	push = +force group user/Omri (hoomri)
	pushTag = group user/Omri (hoomri)
	pushSignedTag = group user/Omri (hoomri)
